@charset "UTF-8";
html,
body {
  height: 100%;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.brandrow {
  height: 100%;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 5px;
  overflow: scroll;
}

.terminal {
  width: 100%;
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 11px;
  color: #f0f0f0;
  background: #000;
}

.terminal-cursor {
  color: #000;
  background: #f0f0f0;
}

#div_var {
  position: absolute;
  text-align: center;
  top: 45px;
  margin: 10px;
}
#divfenetre {
  background-color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0px;
  width: 100%;
}
#divBody {
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
}
#title-bar {
  -webkit-app-region: drag;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background-color: #2d2d64;
  padding: none;
  margin: 0px;
}
#title-bar-repl {
  -webkit-app-region: drag;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background-color: #b8b8b8;
  padding: none;
  margin: 0px;
}
#toptitle {
  -webkit-app-region: drag;
  height: 50px;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  /*background-color: #5bc0de;*/
  padding: none;
  margin: 0px;
}
#title {
  position: fixed;
  top: 15px;
  left: 6px;
  color: #ffb400;
  text-align: center;
}
#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  right: 0px;
}
#fenetre_term {
  width: 630px;
  height: 415px;
  border: 1px solid #ccc;
  padding: 0px 5px 5px 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
  overflow: auto;
}
#fenetre_repl {
  width: 630px;
  height: 415px;
  color: white;
  background-color: #b8b8b8;
  border: 1px solid #ccc;
  padding: 0px 5px 5px 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
  overflow: auto;
}
#header {
  position: absolute;
  top: 0px;
  /*background: #0cf;*/
  height: 60px;
  width: 100%;
}
.arduino_card_mini_picture_div {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 250px;
  height: 600px;
}
.div_close_modal {
  padding-right: 10px;
  float: right;
  bottom: 10px;
  position: absolute;
  text-align: center;
}
.modal-body-config-global_left {
  position: relative;
}
#content_factory {
  height: 100%;
  width: 100%;
  padding-right: 5px;
}
#content_blocks {
  height: 100%;
  width: 100%;
}
#blockly_l {
  background-color: #fff;
  float: left;
  height: 100%;
  width: 55%;
}
#blockly_r {
  float: right;
  height: 100%;
  width: 45%;
}
#btn_all {
  position: absolute;
  left: 182px;
  top: 10px;
  z-index: 10;
  padding-right: 10px;
  text-align: center;
}
.btn_all a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding-right: 10px;
}
.btn_all a span {
  color: black;
  font-size: 10px;
  padding: 5px 0 10px 0;
  display: block;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  letter-spacing: 1px;
}
#btn_group {
  position: absolute;
  padding-left: 10px;
  right: 5px;
  top: 12px;
  z-index: 10;
}
#btn-group_term {
  position: absolute;
  padding-right: 100px;
}
#toggle {
  width: 25%;
  height: 75%;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 0px;
  bottom: 80px;
  opacity: 0.9;
}
#toggle_terminal {
  width: 86.3%;
  height: 24%;
  position: absolute;
  z-index: 1;
  left: 13.7%;
  bottom: 10px;
  opacity: 0.9;
}
#toggle_flash {
  position: absolute;
  z-index: 1;
  left: 13.7%;
  width: 60.99%;
  top: 0px;
  bottom: 25%;
  opacity: 0.9;
}
#toggle_microbit{
  position: absolute;
  z-index: 1;
  left: 13.7%;
  width: 60.99%;
  top: 0px;
  bottom: 25%;
  opacity: 0.9;
}

#editor_microbit {
  position: fixed;
    width: 60.5%;
    height: 55%;
    background: #000000;
    font-size: 22px;
}
#editor {
  position: relative;
  margin: 0;
}

#repl {
  position: absolute;
    width: 100%;
    height: 80%;
}

#webusb-flashing-loader {
  border: .2em solid #eee;
  border-top: .2em solid #336699;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  margin: auto;
}
#webusb-flashing-complete {
    font-size: 2em;
    color: #336699;
}

/* Re-usable, generic rules */
.hidden {
    display: none !important;
}

.experimental {
    display: none !important;
}

.vbox {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.hbox {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.flex1 {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.flex3 {
  flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
}
#put-file-list {
  font-weight: bold;
  vertical-align: middle;
}
#content_code {
  font-size: 16px;
  position: absolute;
  border: 1px solid #727272;
  top: 0px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}
#toggle pre {
  height: 91%;
  background-color: lightgrey;
}
#content_code pre {
  height: 100%;
}
#serial-checboxes {
  margin-left: 20px;
}
#modal-body-config {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
#select_all {
  margin-left: 15px;
}
#span_select_all {
  font-weight: bold;
}
.blocklySvg {
  border-top: none !important;
  background-color: #ffffff;
}
.blocklyScrollbarHandle {
  fill: #0cf;
}
.blocklyToolboxDiv {
  background-color: lightgrey !important;
  font-weight: bold;
  margin-left: 0.2%;
  width: 13.5%;
  opacity: 0.7;
}
.blocklyFlyoutBackground {
  fill: #e6e6e6 !important;
}
.blocklyTreeRoot {
  padding: 0 !important;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
  position: relative;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"].blocklyTreeRow {
  line-height: normal !important;
  padding: 6px 50px 6px 12px !important;
}
.blocklyTreeRow {
  height: 30px !important;
  line-height: 30px !important;
}
.blocklyTreeSeparator {
  background: none repeat scroll 0 0 #e9f9f9 !important;
  border-bottom: none !important;
  height: 10px !important;
}
.colors_category {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}
.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../media/ajax-loading.gif) center no-repeat #2d2d64;
}
.vignette {
  max-width: 80px;
  max-height: 80px;
}
.blocklyScrollbarKnob {
  fill: #2d2d64 !important;
  fill-opacity: 0.7 !important;
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important;
}

#console {
  background: #010608;
  border-radius: 0px;
  border: 2px solid #e3e4d3;
  color: #6394d4;
  overflow: auto;
  padding: 0px;
  text-shadow: 0 0 1px #003a65;
  white-space: pre;
  width: 99%;
  margin-right: 1px;
  height: 100%;
}

#blockly {
    display: none;
    min-width: 570px;
    overflow: auto;
    resize: horizontal;
    padding-right: 10px;
}

#blockly:after {
    border-top: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid #888;
    border-bottom: 0.5em solid #888;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    cursor: ew-resize;
}

/* WebUSB */
.modal-overlay-container {
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    margin: auto auto;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    line-height: 25px;
    font-family: "Segoe UI Light","Segoe UI","Segoe WP Light","Segoe WP","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}

.modal-msg-overlay-container {
  text-align: center;
}
